[save_variables]
filename: /home/lava/printer_data/config/ace_vars.cfg

[ace]
serial: /dev/serial/by-id/usb-ANYCUBIC_ACE_1-if00
baud: 115200
# Default feeding speed, 10-25 in stock
feed_speed: 80
# Default retraction speed, 10-25 in stock
retract_speed: 80
# Distance from extruder sensor to spliter
retract_length: 650 # TUNE ME

#Distance for the filament to reach the toolhead (ACE has its own loading procedure, and this length does not affect it).
#You need to select a value so that after the ACE loading procedure, the filament is 5-6 cm away from the toolhead
feed_length: 600 # TUNE ME

# Max dryer temperature. If you want to fry your dryer, then you can! (Just joking, should be safe around ~70, but it's not tested yet)
max_dryer_temperature: 70

[gcode_macro ACE_drying_on]
gcode:
  ACE_START_DRYING TEMP=55 DURATION=240

[gcode_macro ACE_drying_off]
gcode:
  ACE_STOP_DRYING
